In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import pickle
import sys
from importlib import reload
import logging

%matplotlib inline

In [2]:
sys.path.append('..')

In [3]:
df_all = pd.read_pickle('./data/ts_data_pp01_chunked_moist_weather.pkl')
df_chunk = pd.read_pickle('./data/chunk_data_pp01.pkl')

In [4]:
df_all.shape

(2344595, 18)

In [5]:
df_all.head()

,LocId,Datetime,Moisture,Latitude,Longitude,ChunkBegin,ChunkId,precip_intensity,precip_probability,precip_type,temperature,apparent_temperature,dew_point,humidity,wind_speed,wind_gust,cloud_cover,visibility
0,6,2018-10-12 14:00:00,7.5800,47.594,19.362,True,0,NaN,NaN,None,21.82,21.82,9.00,0.44,NaN,NaN,NaN,10.003
1,6,2018-10-12 15:00:00,7.6350,47.594,19.362,False,0,NaN,NaN,None,21.82,21.82,10.99,0.50,2.09,NaN,NaN,10.003
2,6,2018-10-12 16:00:00,7.4450,47.594,19.362,False,0,NaN,NaN,None,22.81,22.81,12.00,0.51,2.09,NaN,NaN,10.003
3,6,2018-10-12 17:00:00,7.4475,47.594,19.362,False,0,NaN,NaN,None,20.82,20.82,12.00,0.57,NaN,NaN,NaN,10.003
4,6,2018-10-12 18:00:00,7.3850,47.594,19.362,False,0,NaN,NaN,None,17.82,17.82,10.99,0.64,NaN,NaN,NaN,10.003

In [6]:
ds_chuncounts = df_all.groupby('ChunkId').ChunkId.count()

In [7]:
df_chunk

      ChunkId  Latitude  Longitude  LocId
0           0    47.594     19.362      6
1           1    47.594     19.362      6
2           2    47.594     19.362      6
3           3    47.594     19.362      6
4           4    47.594     19.362      6
...       ...       ...        ...    ...
5226     5234    27.776    -18.006   2071
5227     5235    50.891     15.558   2073
5228     5236    50.890     15.555   2074
5229     5237    50.890     15.555   2074
5230     5238    53.772     -1.911   2075

[5231 rows x 4 columns]

In [8]:
df_all = df_all[df_all.ChunkId.isin(list(ds_chuncounts[ds_chuncounts > 100].index))]

In [9]:
df_all

,LocId,Datetime,Moisture,Latitude,Longitude,ChunkBegin,ChunkId,precip_intensity,precip_probability,precip_type,temperature,apparent_temperature,dew_point,humidity,wind_speed,wind_gust,cloud_cover,visibility
0,6,2018-10-12 14:00:00,7.580000,47.594,19.362,True,0,NaN,NaN,None,21.82,21.82,9.00,0.44,NaN,NaN,NaN,10.003
1,6,2018-10-12 15:00:00,7.635000,47.594,19.362,False,0,NaN,NaN,None,21.82,21.82,10.99,0.50,2.09,NaN,NaN,10.003
2,6,2018-10-12 16:00:00,7.445000,47.594,19.362,False,0,NaN,NaN,None,22.81,22.81,12.00,0.51,2.09,NaN,NaN,10.003
3,6,2018-10-12 17:00:00,7.447500,47.594,19.362,False,0,NaN,NaN,None,20.82,20.82,12.00,0.57,NaN,NaN,NaN,10.003
4,6,2018-10-12 18:00:00,7.385000,47.594,19.362,False,0,NaN,NaN,None,17.82,17.82,10.99,0.64,NaN,NaN,NaN,10.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2348075,2075,2019-10-27 11:00:00,33.165000,53.772,-1.911,False,5238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348076,2075,2019-10-27 12:00:00,33.227500,53.772,-1.911,False,5238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348077,2075,2019-10-27 13:00:00,32.910000,53.772,-1.911,False,5238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348078,2075,2019-10-27 14:00:00,32.767498,53.772,-1.911,False,5238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2348079,2075,2019-10-27 15:00:00,33.110000,53.772,-1.911,False,5238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_chunk = df_all.groupby('ChunkId').agg({'Latitude': 'first', 'Longitude': 'first', 'LocId': 'first'}).reset_index()

In [11]:
df_all.shape, df_chunk.shape

((2328906, 18), (4904, 4))

In [12]:
df_all.LocId.nunique(), df_all.ChunkId.nunique()

(1355, 4904)

In [13]:
df_all['IsTmpNull'] = df_all.temperature.isnull()

In [14]:
ds_chunks_full = df_all.groupby('ChunkId').IsTmpNull.sum() == 0
chunks_full = list(ds_chunks_full[ds_chunks_full == True].index)
df_all = df_all[df_all.ChunkId.isin(chunks_full)]

In [15]:
df_chunk = df_all.groupby('ChunkId').agg({'Latitude': 'first', 'Longitude': 'first', 'LocId': 'first'}).reset_index()

In [16]:
df_all.shape, df_chunk.shape

((1781155, 19), (3967, 4))

In [17]:
df_all.LocId.nunique(), df_all.ChunkId.nunique()

(1274, 3967)

In [18]:
df_chunk_sub = df_chunk.sample(50).copy()
df_all_sub = df_all[df_all.ChunkId.isin(df_chunk_sub.ChunkId.values)].copy()

In [19]:
df_all.isnull().sum()

LocId                         0
Datetime                      0
Moisture                      0
Latitude                      0
Longitude                     0
ChunkBegin                    0
ChunkId                       0
precip_intensity          19433
precip_probability        19433
precip_type             1060915
temperature                   0
apparent_temperature          0
dew_point                     0
humidity                      0
wind_speed                  117
wind_gust                 27931
cloud_cover               20424
visibility                39250
IsTmpNull                     0
dtype: int64

In [20]:
df_all.precip_type.value_counts()

rain    691879
snow     28361
Name: precip_type, dtype: int64

In [21]:
df_all['Day'] = df_all.Datetime.apply(lambda x: x.day)
df_all['Hour'] = df_all.Datetime.apply(lambda x: x.hour)
df_all['Month'] = df_all.Datetime.apply(lambda x: x.month)
df_all['Weekday'] = df_all.Datetime.apply(lambda x: x.weekday())

<ipython-input-21-88c17b10a851>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['Day'] = df_all.Datetime.apply(lambda x: x.day)
<ipython-input-21-88c17b10a851>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['Hour'] = df_all.Datetime.apply(lambda x: x.hour)
<ipython-input-21-88c17b10a851>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['Month'] = df_all.Datetime.apply(lambda x: x.month)
<ipython-input-21-88c17b10a851>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['Weekday'] = df_all.Datetime.apply(lambda x: x.weekday())

In [22]:
def fill_nulls(colnow):
    
    print(colnow)
    print(df_all[colnow].isnull().sum())
    df_all[colnow] = df_all.groupby('ChunkId')[colnow].transform(lambda x: x.fillna(x.mean()))
    print(df_all[colnow].isnull().sum())
    df_all[colnow] = df_all.groupby('LocId')[colnow].transform(lambda x: x.fillna(x.mean()))
    print(df_all[colnow].isnull().sum())
    df_all[colnow] = df_all[colnow].fillna(df_all[colnow].mean())
    print(df_all[colnow].isnull().sum())

In [23]:
fill_nulls('precip_intensity')

precip_intensity
19433

<ipython-input-22-a7366076e155>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all[colnow] = df_all.groupby('ChunkId')[colnow].transform(lambda x: x.fillna(x.mean()))

17525
2370
0

<ipython-input-22-a7366076e155>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all[colnow] = df_all.groupby('LocId')[colnow].transform(lambda x: x.fillna(x.mean()))
<ipython-input-22-a7366076e155>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all[colnow] = df_all[colnow].fillna(df_all[colnow].mean())

In [24]:
fill_nulls('precip_probability')

precip_probability
19433

<ipython-input-22-a7366076e155>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all[colnow] = df_all.groupby('ChunkId')[colnow].transform(lambda x: x.fillna(x.mean()))

17525
2370
0

<ipython-input-22-a7366076e155>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all[colnow] = df_all.groupby('LocId')[colnow].transform(lambda x: x.fillna(x.mean()))
<ipython-input-22-a7366076e155>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all[colnow] = df_all[colnow].fillna(df_all[colnow].mean())

In [25]:
df_chunk.shape

(3967, 4)

In [26]:
df_chunk.LocId.nunique()

1274

In [27]:
n_locs_train = 1000
loc_ids = df_chunk.LocId.unique()

inds_rand = np.random.permutation(np.arange(len(loc_ids)))
inds_rand

array([ 807,  698,  611, ...,  423, 1173, 1213])

In [28]:
loc_ids_train = loc_ids[inds_rand[:n_locs_train]]

In [29]:
n_locs_train = 1000
loc_ids = df_chunk.LocId.unique()

inds_rand = np.random.permutation(np.arange(len(loc_ids)))
loc_ids_train = loc_ids[inds_rand[:n_locs_train]]
loc_ids_test = loc_ids[inds_rand[n_locs_train:]]

df_chunk_train = df_chunk[df_chunk.LocId.isin(loc_ids_train)]
df_chunk_test = df_chunk[df_chunk.LocId.isin(loc_ids_test)]

df_train = df_all[df_all.ChunkId.isin(df_chunk_train.ChunkId.values)]
df_test = df_all[df_all.ChunkId.isin(df_chunk_test.ChunkId.values)]

In [30]:
df_chunk_train.LocId.nunique(), df_chunk_test.LocId.nunique()

(1000, 274)

In [31]:
df_chunk_train.shape, df_chunk_test.shape

((3166, 4), (801, 4))

In [32]:
df_train.shape, df_test.shape

((1403244, 23), (377911, 23))

In [33]:
df_train.to_csv('./data/df_train01.csv')
df_test.to_csv('./data/df_test01.csv')

df_chunk_train.to_csv('./data/df_chunk_train01.csv')
df_chunk_test.to_csv('./data/df_chunk_test01.csv')

In [34]:
df_all.to_csv('./data/df_all01.csv')
df_chunk.to_csv('./data/df_chunk01.csv')